<section class="features">
  <h2 class="title features__title">Features</h2>
  <p class="subtitle features__subtitle">{{info}}</p>
  <p class="subtitle features__subtitle features__subtitle_short">
    {{shortInfo}}
  </p>
  <div class="features__cards">
    <div class="icon-card">
      <svg
        class="icon-card__icon"
        width="61"
        height="61"
        viewBox="0 0 61 61"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M21.6042 7.625C25.3117 7.625 28.8673 9.0978 31.4889 11.7194C34.1105 14.341 35.5833 17.8967 35.5833 21.6042C35.5833 24.9846 34.3888 28.0854 32.3808 30.5H53.375V53.375H30.5V32.3808C28.0854 34.3888 24.9846 35.5833 21.6042 35.5833C17.8967 35.5833 14.341 34.1105 11.7194 31.4889C9.0978 28.8673 7.625 25.3117 7.625 21.6042C7.625 17.8967 9.0978 14.341 11.7194 11.7194C14.341 9.0978 17.8967 7.625 21.6042 7.625Z"
          fill="#2091F9"
        />
      </svg>
      <h3 class="icon-card__title">OpenType features Variable fonts</h3>
      <p class="icon-card__description">
        Slate helps you see how many more days you need to work to reach your
        financial goal.
      </p>
    </div>
    <div class="icon-card">
      <svg
        class="icon-card__icon"
        width="45"
        height="42"
        viewBox="0 0 45 42"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M18.2486 41.65C22.402 40.0167 21.492 35.5134 19.392 32.6667C17.3153 29.75 14.4453 27.7434 11.552 25.8067C9.48756 24.5055 7.64432 22.8829 6.09197 21C5.43863 20.23 4.10863 18.8067 5.46197 18.5267C6.83863 18.2467 9.21863 19.6 10.432 20.1134C12.5553 21 14.6553 22.0267 16.6153 23.24L18.972 19.2734C15.332 16.87 10.6653 14.7467 6.3253 14.1167C3.85197 13.7434 1.23863 14.2567 0.398634 16.94C-0.348033 19.25 0.841967 21.5834 2.1953 23.4034C5.39197 27.6734 10.362 29.7267 14.072 33.4134C14.8653 34.1834 15.822 35.0934 16.2886 36.1667C16.7786 37.1934 16.662 37.2634 15.5653 37.2634C12.672 37.2634 9.0553 35 6.69864 33.5067L4.34197 37.4734C7.91197 39.6667 13.8853 43.0967 18.2486 41.65ZM44.1253 5.25004C44.6386 4.7367 44.6386 3.8967 44.1253 3.4067L41.092 0.373369C40.8476 0.137831 40.5214 0.00622559 40.182 0.00622559C39.8425 0.00622559 39.5164 0.137831 39.272 0.373369L36.892 2.75337L41.7453 7.6067L44.1253 5.25004ZM21.1653 18.48V23.3334H26.0186L40.3686 8.98337L35.5153 4.13004L21.1653 18.48Z"
          fill="#2091F9"
        />
      </svg>
      <h3 class="icon-card__title">Design with real data</h3>
      <p class="icon-card__description">
        Slate helps you see how many more days you need to work to reach your
        financial goal.
      </p>
    </div>
    <div class="icon-card">
      <svg
        class="icon-card__icon"
        width="61"
        height="61"
        viewBox="0 0 61 61"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M52.6366 11.7679L49.2308 8.36209C48.2904 7.37084 46.6383 7.37084 45.647 8.36209L22.8737 31.1354L29.8633 38.125L52.6366 15.3517C53.6279 14.3604 53.6279 12.7083 52.6366 11.7679ZM17.7904 35.5833C15.7681 35.5833 13.8286 36.3867 12.3987 37.8167C10.9687 39.2466 10.1654 41.1861 10.1654 43.2083C10.1654 46.5379 7.21703 48.2917 5.08203 48.2917C7.42036 51.3925 11.4362 53.375 15.2487 53.375C17.9451 53.375 20.531 52.3039 22.4376 50.3973C24.3442 48.4906 25.4154 45.9047 25.4154 43.2083C25.4154 41.1861 24.612 39.2466 23.1821 37.8167C21.7521 36.3867 19.8126 35.5833 17.7904 35.5833Z"
          fill="#2091F9"
        />
      </svg>

      <h3 class="icon-card__title">Fastest way to take action</h3>
      <p class="icon-card__description">
        Slate helps you see how many more days you need to work to reach your
        financial goal.
      </p>
    </div>
  </div>
  <div class="video features__video">
    <button class="button video__button">
      <svg
        width="48"
        height="48"
        viewBox="0 0 48 48"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_1391_35)">
          <path
            d="M4.40234 0.593994L43.4434 24.0186L4.40234 47.4432V0.593994Z"
            fill="white"
          />
        </g>
        <defs>
          <clipPath id="clip0_1391_35">
            <rect
              width="46.8492"
              height="46.8492"
              fill="white"
              transform="translate(0.496094 0.593994)"
            />
          </clipPath>
        </defs>
      </svg>
    </button>
  </div>
</section>
