<header class="header">
  <div class="header__inner">
    <nav class="header__navigation">
      <a href="#" class="header__link">Home</a>
      <a href="#" class="header__link">Product</a>
      <a href="#" class="header__link">Pricing</a>
      <a href="#" class="header__link">About</a>
      <a href="#" class="header__link">Contact</a>
    </nav>
    <img src="../../images/logo.png" alt="Logo" />
    <div class="header__social-networks">
      {{> ../components/social-networks light=true }}
    </div>
    <button class="header__burger" id="burger">
      <svg
        width="40"
        height="32"
        viewBox="0 0 40 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.66797 8H33.3346V10.6667H6.66797V8ZM13.3346 14.6667H33.3346V17.3333H13.3346V14.6667ZM21.668 21.3333H33.3346V24H21.668V21.3333Z"
          fill="white"
        />
      </svg>
    </button>
  </div>
</header>
