<section class="intro">
  <div class="intro__tagline">{{tagline}}</div>
  <div class="intro__info">{{info}}</div>
  <div class="intro__short-info">{{shortInfo}}</div>
  <button class="button">Try For Free</button>
</section>
