<section class="newsletter">
  <div class="newsletter__inner">
    <img
      class="newsletter__image"
      src="../../images/newsletter.svg"
      alt="Newsletter"
    />
    <div class="newsletter__content">
      <h3 class="suptitle newsletter__suptitle">At your fingertips</h3>
      <h2 class="title newsletter__title">Lightning fast prototyping</h2>
      <h2 class="title newsletter__title newsletter__title_short">
        Newsletter
      </h2>
      <p class="subtitle newsletter__subtitle">{{shortInfo}}</p>
      <img
        class="newsletter__content-image"
        src="../../images/newsletter.svg"
        alt="Newsletter"
      />
      {{> ../components/subscribe-form }}
    </div>
  </div>
</section>
