<section class="partners">
  <div class="partners__inner">
    <h2 class="title partners__title">Partners</h2>
    <p class="subtitle partners__subtitle">{{info}}</p>
    <p class="subtitle partners__subtitle partners__subtitle_short">
      {{shortInfo}}
    </p>
    <div class="partners__grid">
      <div class="partner-cell">
        <h5 class="partner-cell__title">Client Name</h5>
        <img
          class="partner-cell__logo"
          src="../../images/google.svg"
          alt="Client Name"
        />
      </div>
      <div class="partner-cell">
        <h5 class="partner-cell__title">Client Name</h5>
        <img
          class="partner-cell__logo"
          src="../../images/amazon.png"
          alt="Client Name"
        />
      </div>
      <div class="partner-cell">
        <h5 class="partner-cell__title">Client Name</h5>
        <img
          class="partner-cell__logo"
          src="../../images/microsoft.png"
          alt="Client Name"
        />
      </div>
      <div class="partner-cell">
        <h5 class="partner-cell__title">Client Name</h5>
        <img
          class="partner-cell__logo"
          src="../../images/uber.png"
          alt="Client Name"
        />
      </div>
      <div class="partner-cell">
        <h5 class="partner-cell__title">Client Name</h5>
        <img
          class="partner-cell__logo"
          src="../../images/dropbox.png"
          alt="Client Name"
        />
      </div>
      <div class="partner-cell">
        <h5 class="partner-cell__title">Client Name</h5>
        <img
          class="partner-cell__logo"
          src="../../images/google.svg"
          alt="Client Name"
        />
      </div>
      <div class="partner-cell">
        <h5 class="partner-cell__title">Client Name</h5>
        <img
          class="partner-cell__logo"
          src="../../images/uber.png"
          alt="Client Name"
        />
      </div>
      <div class="partner-cell">
        <h5 class="partner-cell__title">Client Name</h5>
        <img
          class="partner-cell__logo"
          src="../../images/amazon.png"
          alt="Client Name"
        />
      </div>
    </div>
    <button class="button">Try For Free</button>
  </div>
</section>
