<section class="pricing">
  <div class="pricing__inner">
    <h2 class="title pricing__title">Pricing</h2>
    <p class="subtitle pricing__subtitle">{{info}}</p>
    <p class="subtitle pricing__subtitle pricing__subtitle_short">
      {{shortInfo}}
    </p>
    <div class="pricing__cards">
      <div class="pricing-card">
        <h3 class="pricing-card__title">FREE</h3>
        <p class="pricing-card__subtitle">Organize across all apps by hand</p>
        <div class="price pricing-card__price">
          <p class="price__count">0</p>
          <div class="price__info">
            <p class="price__currency">$</p>
            <p>Per Month</p>
          </div>
        </div>
        <div class="pricing-card__features">
          <p>Pricing Feature</p>
          <p>Pricing Feature</p>
          <p>Pricing Feature</p>
          <p>Pricing Feature</p>
          <p>Pricing Feature</p>
        </div>
        <button class="button pricing-card__button">Order Now</button>
      </div>
      <div class="pricing-card pricing-card_primary">
        <h3 class="pricing-card__title">STANDARD</h3>
        <p class="pricing-card__subtitle">Organize across all apps by hand</p>
        <div class="price price_light pricing-card__price">
          <p class="price__count">10</p>
          <div class="price__info">
            <p class="price__currency">$</p>
            <p>Per Month</p>
          </div>
        </div>
        <div class="pricing-card__features">
          <p>Pricing Feature</p>
          <p>Pricing Feature</p>
          <p>Pricing Feature</p>
          <p>Pricing Feature</p>
          <p>Pricing Feature</p>
        </div>
        <button class="button button_light pricing-card__button">
          Order Now
        </button>
      </div>
      <div class="pricing-card">
        <h3 class="pricing-card__title">BUSINESS</h3>
        <p class="pricing-card__subtitle">Organize across all apps by hand</p>
        <div class="price pricing-card__price">
          <p class="price__count">99</p>
          <div class="price__info">
            <p class="price__currency">$</p>
            <p>Per Month</p>
          </div>
        </div>
        <div class="pricing-card__features">
          <p>Pricing Feature</p>
          <p>Pricing Feature</p>
          <p>Pricing Feature</p>
          <p>Pricing Feature</p>
          <p>Pricing Feature</p>
        </div>
        <button class="button pricing-card__button">Order Now</button>
      </div>
    </div>
  </div>
</section>
