<section class="promo">
  <div class="promo__inner">
    <div class="promo__content">
      <h2 class="title promo__title">Fastest way to organize</h2>
      <p class="subtitle promo__subtitle">{{info}}</p>
      <p class="subtitle promo__subtitle promo__subtitle_short">
        {{shortInfo}}
      </p>
      <button class="button">Try For Free</button>
    </div>
    <img class="promo__image" src="../../images/promo.png" alt="Promo" />
  </div>
</section>
