<section class="testimonials">
  <div class="testimonials__inner">
    <h2 class="title testimonials__title">Testimonials</h2>
    <div class="testimonials__list">
      <div class="testimonial">
        <img class="testimonial__logo" src="../../images/ibm.svg" alt="Logo" />
        <p class="testimonial__content">
          Most calendars are designed for teams. Slate is designed for
          freelancers who want a simple way to plan their schedule.
        </p>
        <div class="client">
          <img
            class="client__avatar"
            src="../../images/avatar.png"
            alt="Avatar"
          />
          <div class="client__info">
            <p class="client__extra">Organize across</p>
            <p>UI designer</p>
          </div>
        </div>
      </div>
    </div>
    <button class="button">More Testimonials</button>
  </div>
</section>
