<form class="subscribe-form">
  <h3 class="suptitle subscribe-form__suptitle">Subscribe to our Newsletter</h3>
  <p class="subscribe-form__text">Available exclusivery on Figmaland</p>
  <div class="subscribe-form__content">
    <input
      class="input subscribe-form__input"
      type="text"
      placeholder="Your Email"
    />
    <button class="button subscribe-form__button" type="submit">
      Subscribe
    </button>
  </div>
</form>
