{{> partials/header }}
<!-- prettier-ignore -->
<main>
  {{> partials/intro tagline=tagline info=info shortInfo=shortInfo }}
  {{> partials/features info=info shortInfo=shortInfo }}
  {{> partials/promo }}
  {{> partials/newsletter shortInfo=shortInfo }}
  {{> partials/partners info=info shortInfo=shortInfo  }}
  {{> partials/testimonials }}
  {{> partials/pricing info=info shortInfo=shortInfo  }}
  {{> partials/contact-us info=info shortInfo=shortInfo  }}
</main>
{{> partials/footer }}
